<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lahacks2017.cardme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TitleScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendCard"
            android:parentActivityName=".TitleScreen" />
        <activity
            android:name=".Connections"
            android:parentActivityName=".TitleScreen" />
        <activity
            android:name=".ReceiveCard"
            android:parentActivityName=".TitleScreen" />
        <activity
            android:name=".EditCards"
            android:parentActivityName=".TitleScreen" />
        <activity
            android:name=".FillCardActivity"
            android:parentActivityName=".EditCards" />
        <activity android:name=".Visible"/>
        <activity android:name=".ReceivedConfirmation" android:parentActivityName=".ReceiveCard"></activity>
    </application>

</manifest>